<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    android:versionCode="5"
    android:versionName="1.1"
    package="com.justinkleiber.labkit">

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21"/>

    <application android:allowBackup="true" 
        android:icon="@drawable/ic_launcher" 
        android:label="@string/app_name" 
        android:theme="@style/AppBaseTheme">

        <activity android:label="@string/app_name" android:name="com.justinkleiber.labkit.Splash" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
         <activity android:label="@string/app_name" android:name="com.justinkleiber.labkit.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAI"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.justinkleiber.labkit.Physics" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PHYSICS"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".SearchPeriodicTable" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.TAB"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.justinkleiber.labkit.ElementViewer" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.EV"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>